[2020-12-26 19:29] akrish4 opened #2 "Script Winter Of Code"
As you have registeree this oroject in SWOC , so I would like to contribute to this project , let me know what are the improvements needed for this web app.
Kindly let mw know and assign me @preeti13456
Thank you

[2020-12-26 20:16] preeti13456 commented on #2
Surely let me know what domain you want to work in for backend part there is payments intergration gateway, in frontend part you can make the site more dynamic as currently it looks more static and for deployment you can try to integrate it on localhost without heroku integration included.

[2020-12-27 03:19] akrish4 commented on #2
@preeti13456  okay , i would like to work on front end part , i will use bootstrap to make it responsive and try to make slight changes in UI , i will integrate on localhost , but how  can i show you the final look of the project ? like images of output  will be fine or not ?  so thata the new chanages you can upload to heroku ?

[2020-12-27 03:55] preeti13456 commented on #2
Create a separate issue for the same. And try to first post the output I'll verify and will tell you the changes than you can push it to the branch and I'll merge it.

[2020-12-27 03:56] #2 closed, assigned to nobody

[2020-12-27 04:25] akrish4 commented on #2
@preeti13456  open a new issue - the front end part and assign me that issue.
do assign that new issue  and close when the project is completed.
I think we need to wait till jan 4 , the SWOC community guidlines are not yet released

[2020-12-27 04:34] preeti13456 opened #3 "The front end part"
Make the website more dynamic and user friendly.

[2020-12-27 06:10] akrish4 commented on #3
kindly assign me @preeti13456

[2020-12-28 04:34] harikishantk commented on #3
kindly assign me @preeti13456

[2020-12-28 04:47] preeti13456 commented on #3
I have assigned it already to @akrish4  so @harikishantk if you want to work on backend part for making payment gateway integration kindly let me know.

[2020-12-28 04:56] preeti13456 opened #4 "The backend integration"
Make a payment gateway backend on the site.

[2020-12-28 05:15] harikishantk commented on #3
Yes, I would like to contribute to the backend part. Does this contribution come under SWOC?

[2020-12-28 05:16] harikishantk commented on #4
Yes, I would like to contribute to the backend part. Kindly label this issue under "SWOC".

[2020-12-28 05:16] akrish4 commented on #3
we need to wait till jan 5 for making our contribution marked in SWOC. @preeti13456 @harikishantk

[2020-12-28 05:17] akrish4 commented on #3
yes
 right @preeti13456

[2020-12-28 05:25] preeti13456 commented on #3
Yes

[2020-12-28 05:26] preeti13456 commented on #3
No actually @akrish4 try to do this front end part within 4-5 days after that i will assign it to @harikishantk .

[2020-12-28 05:38] anshshankar commented on #3
I am intrested

[2020-12-28 05:41] preeti13456 commented on #3
Firstly discuss the approach here how will you proceed both @akrish4  and @anshshankar

[2020-12-28 05:44] akrish4 commented on #3
@preeti13456  I am using bootstrap to make it fully responsive and along with it i will be improving the header and footer.

[2020-12-28 05:46] preeti13456 commented on #3
Good try to do the changes in respective file itself @akrish4 . And before pushing send the screenshot here

[2020-12-28 05:47] akrish4 commented on #3
sure

[2020-12-28 07:05] anshshankar commented on #3
I could use bootstrap, css to make the website look user friendly and Dynamic.
I would do following things
1. Make a tabs column where in all main categories will be available to the user
2.  A carousel with wherein all major offers and promos for new user would be displayed
3. A minor changes in the all tabs
4. Additional some new pages such Faqs, etc
5. Rent bikes according to categories

[2020-12-28 07:10] anshshankar commented on #3
Can I work on it

[2020-12-28 07:11] preeti13456 commented on #3
yes but try to send the output here before pushing and start the pr making from 10 Jan

[2020-12-28 07:12] anshshankar commented on #3
sure

[2020-12-28 09:22] akrish4 commented on #3
@anshshankar  you can work on this  :)

[2020-12-28 09:44] Aniket118 opened #5 "README update"
very little information has been provided in README.
Ex: how to run the setup is missing and a little description about the project. @preeti13456 it will be nice of you if can do that.
And can you provide any group link to have a discussion over the issue.

[2020-12-28 10:59] preeti13456 opened #6 "Documentation"
Create a Readme for the website

[2020-12-28 11:23] #6 closed, assigned to nobody

[2020-12-28 11:23] preeti13456 commented on #6
Opened already

[2020-12-28 11:23] preeti13456 commented on #5
Sure

[2020-12-28 11:25] preeti13456 commented on #5
Tell me if you want to work on this issue @Aniket118

[2020-12-28 11:31] Aniket118 commented on #5
I mainly don't know much about the project. But README for the setup and if a workflow can be described then I can look into it.

[2020-12-28 11:32] preeti13456 commented on #5
Link of the website is on the description of the project you can check there. And if you have any further doubts you can ping me on slack.

[2020-12-28 11:34] preeti13456 commented on #5
@akrish4 let me know your availability on this issue

[2020-12-28 11:34] Aniket118 commented on #5
ok thankyou!

[2020-12-28 12:32] akrish4 commented on #5
yes @preeti13456  , i can work on this issue , if @Aniket118  doesn't know much about the project.
`kindly assign me`

[2020-12-28 12:44] anshshankar commented on #3
@preeti13456 can i make afew changes to urls.py .
Such as after successful login the page is redirected to rent_now.html but can I redirect it to home.html and rent_now will be a tab
which will be opened after the user clicks on it.
Since This looks more interactive.

[2020-12-28 13:44] preeti13456 commented on #3
Sure

[2020-12-28 13:45] preeti13456 commented on #5
Cool

[2020-12-28 14:00] anshshankar commented on #3
ok thanks

[2020-12-29 06:55] #5 closed, assigned to akrish4

[2020-12-29 06:55] preeti13456 commented on #5
Openeup by someone else

[2020-12-29 06:57] preeti13456 opened #7 "Update"
Update the README file with appropriate documentation and resources. That will tell the purpose of website as well as future scope if any.

[2020-12-29 06:59] akrish4 commented on #7
@preeti13456  kindly assign me
I will update README file and add code of conduct file also

[2020-12-29 16:53] preeti13456 opened #8 "Adding functionalities"
Add functionalities to the button to select your bike and add your cart

[2020-12-29 20:40] anshshankar commented on #3
Hi @preeti13456
**Progress Report :-**

**1) The Login Page has been modified with the addition of of buttons of fb/g+/twitter**

![Login - Google Chrome 30-12-2020 02_01_19](https://user-images.githubusercontent.com/69162366/103312538-67393a00-4a43-11eb-837f-834140ec4484.png)

**2) The Blue Print Has been made for the First Page (Regex.html)**

![Login - Google Chrome 30-12-2020 02_07_00](https:/

[2020-12-29 20:44] preeti13456 commented on #3
Good  work but in login page try to align forgot
Password and sign up text and about the first page let me know guys is the background color will looking good. And any other suggestions for modifications.

[2020-12-29 20:45] preeti13456 commented on #3
And try to add forgot password before login.

[2020-12-29 20:46] anshshankar commented on #3
ok

[2020-12-30 06:35] Adarsh88 commented on #8
Hey I would like to contribute to this project. Can you assign this to me ?

[2020-12-30 06:37] preeti13456 commented on #8
Sure, but share your approach first before sending pr.

[2020-12-30 06:41] Adarsh88 commented on #8
Okay, we can discuss it in slack right ?

[2020-12-30 06:42] preeti13456 commented on #8
Ya sure

[2020-12-30 19:55] preeti13456 opened #9 "Launch Website command"
Create an automation command to launch the website from cli .

[2020-12-30 19:57] preeti13456 opened #10 "Django admin"
Take the look at the website on going to django admin website didn't work properly. Either you have to start from login page or you land up at home.

[2020-12-31 08:08] Ajaykumar34 commented on #3
I'm interested on this project

[2020-12-31 08:13] preeti13456 commented on #3
@anshshankar have started contributing and will send his pr after 3 jan. @Ajaykumar34 I will assign this issue to you afterwards till then you can tell any changed looking to modeified change.
In the meantime look to other unassigned issues as well.

[2020-12-31 08:17] Ajaykumar34 commented on #3
I have Questions regarding this projects

[2020-12-31 08:18] preeti13456 commented on #3
Yes please ask, you can ping me on slack or linkledin.

[2020-12-31 09:22] Ajaykumar34 commented on #8
i'm interested on this project

[2021-01-02 16:00] deytulsi18 opened #11 "[Docs]: Add Issue Template, Pull Request template, Code Of Conduct"
Can I add Issue Template, Pull Request template, Code Of Conduct suitable for this project?

[2021-01-02 16:01] preeti13456 commented on #11
No you can't

[2021-01-02 16:02] preeti13456 commented on #11
I'll raise this issue. You will be get assigned to it

[2021-01-02 16:02] #11 closed, assigned to nobody

[2021-01-02 16:03] preeti13456 opened #12 "[Docs]: Add Issue Template, Pull Request template, Code Of Conduct"

[2021-01-02 16:06] deytulsi18 commented on #11
Ok, no issues.

[2021-01-03 03:38] Shubhanshuarya commented on #10
Hi Preeti,
Django Admin is working properly when I am opening this [Link](https://cityonbikes.herokuapp.com/admin/login/?next=/admin/)

Can you please describe this problem briefly? So, I can try to remove this Issue asap.

[2021-01-03 03:50] preeti13456 commented on #10
On the site itself when you go the django admin the site not work properly you have to login again. So i am looking for that issue. I would recommend you to first go through the website.

[2021-01-03 15:46] Shubhanshuarya commented on #10
In this project, you are using Django 2.0 Version. If we are using python 3.6 and above version, it is highly recommended to use Django 3.0 Version or above. I am done with the upgraded version and successfully converted the whole project to Django 3.1.4 Version. Now, Admin and Login page is working properly.

![image](https://user-images.githubusercontent.com/45733409/103482758-a16e5700-4e08-11eb

[2021-01-03 15:50] Shubhanshuarya commented on #10
Kindly Assign me, I will do it.

[2021-01-03 16:21] TrushaT opened #13 "Bikes List Page #SWOC2021"
Description: Instead of a modal, the user can view a proper list of all bikes when he clicks bikes on the navbar.

[2021-01-03 16:39] preeti13456 commented on #13
Yes, can you implement it?

[2021-01-03 16:42] preeti13456 commented on #10
Sure

[2021-01-03 16:51] TrushaT commented on #13
Yes, I am an intermediate Django developer.  I think creating a Bike model instead of available_bikes models and adding availability as a field. If you do not want that, I can add some more fields to available_bikes for more info of bike and list them. Whichever is suitable to u .

[2021-01-03 16:53] preeti13456 commented on #13
Cool, first approach is better work on that.

[2021-01-03 16:53] preeti13456 commented on #13
But you can't open the issue wait

[2021-01-03 16:55] preeti13456 opened #14 "Bikes List Page #SWoC30"
Adding functionalities on bike button present on the website

[2021-01-03 16:55] preeti13456 commented on #13
Please comment on the new issue . I can assign it to you after that only.

[2021-01-03 16:55] #13 closed, assigned to TrushaT

[2021-01-03 17:06] TrushaT commented on #14
Pls, assign me this issue.

[2021-01-03 18:34] #10 closed, assigned to Shubhanshuarya

[2021-01-04 07:14] preeti13456 opened #16 "Override the user model to make usernames case insensitive and allow semicolons. #SWoC40"
Create a user bike account (not superuser) with username “test_u;” and password “sample”. Create a json fixture of this account . This is just an example you can modify as per the site.

[2021-01-04 13:55] himanshu007-creator commented on #9
HI @preeti13456  mam.
I have worked on this issue. Please assign me this and check by PULL REQUEST.https://github.com/preeti13456/CityonBikes/pull/17

[2021-01-04 13:56] preeti13456 commented on #9
Good work.

[2021-01-04 13:57] preeti13456 commented on #9
Good work @himanshu007-creator . Look to other issues as well.

[2021-01-04 13:57] #9 closed, assigned to himanshu007-creator

[2021-01-04 14:02] himanshu007-creator commented on #12
please assign me this issue.

[2021-01-04 18:51] himanshu007-creator commented on #12
JOB done @preeti13456  https://github.com/preeti13456/CityonBikes/pull/20

[2021-01-04 18:54] himanshu007-creator commented on #14
if it doesnt work, i will like to work on it

[2021-01-05 04:36] preeti13456 commented on #14
Sure @TrushaT  pls update the status here, whether you can do this or not?

[2021-01-05 05:48] TrushaT commented on #14
I am almost done. Backend is done. I am working on frontend that's all. We will make a PR soon

[2021-01-05 05:49] TrushaT commented on #14
Backend is done. Just working on front end.  Will make a PR soon

[2021-01-05 07:46] nporia commented on #3
I would like to work on it too.

[2021-01-05 08:09] Aniket118 commented on #16
can I try working on this issue? can you assign it to me?

[2021-01-05 08:09] preeti13456 commented on #16
Sure

[2021-01-05 09:48] kishankr7979 commented on #14
@preeti13456 Hey, We can also add the dynamic selection of bikes for the user, using the hyperlinked icons of Scooters/Sports/cruiser etc, if you are interested would you please ping me with the same so that i can contribute to this repo for an exponential growth.

[2021-01-05 09:52] preeti13456 commented on #14
Good point @kishankr7979

[2021-01-05 09:54] preeti13456 commented on #14
@TrushaT take into consideration these suggestions as well. And make the contribution by tomorrow. So that everyone will get the gair chance.

[2021-01-05 09:59] kishankr7979 commented on #14
@preeti13456 Open an another issue for the same, it would be great then.

[2021-01-05 11:31] preeti13456 opened #21 "Bikes List Page #SWoC30"
Adding functionalities on bike button present in the website using html, css, js functionalities.

[2021-01-05 12:17] preeti13456 commented on #14
I have opened the other duplicate issue. Kindly have a look @kishankr7979

[2021-01-05 13:02] kishankr7979 commented on #21
@preeti13456 will you please add the Tech Stack in a description, because it becomes difficult to overwrite the code and reusability of code becomes over-whelming

[2021-01-05 13:02] kishankr7979 commented on #21
P.S : i'm a MERN Developer

[2021-01-05 13:03] preeti13456 commented on #21
Okay sure. You interested in issue?

[2021-01-05 13:06] kishankr7979 commented on #21
@preeti13456 Yup, for the front-end part i'll but in case of back-end you are using Django which is not known for me

[2021-01-05 13:11] preeti13456 commented on #21
Cool work on frontend part.

[2021-01-05 14:11] anshshankar commented on #3
ya @nporia , I am currently Working on it.
I would make pr by 10th Jan . After that you can work on it.

[2021-01-05 17:54] kishankr7979 commented on #21
@preeti13456 hey, done with the categoryofBikes redirect page, but not able to open a new PR, even not able to push the changes to the forked repo, it says permission denied wil you please grant me the same

[2021-01-05 18:01] kishankr7979 commented on #21
![Screenshot 2021-01-05 at 11 30 07 PM](https://user-images.githubusercontent.com/41482800/103681842-ff886f00-4fad-11eb-8ca7-d1d44f32b154.png)
The selection of any categories will redirect to payment page.

[2021-01-05 18:01] preeti13456 commented on #21
Clone your forked repo instead of original, push to it, create pull request button on your repo wait fr me to accept it

[2021-01-05 18:02] preeti13456 commented on #21
It will not happen again but if still error persist try to ise --force and --all

[2021-01-05 18:03] preeti13456 commented on #21
And good work but make the cost on the bottom bar or something because it's not looking good on image.

[2021-01-05 18:06] kishankr7979 commented on #21
@preeti13456 its a responsive with some Animation hover

[2021-01-05 18:06] kishankr7979 commented on #21
that's why written price above image, let me commit it first then you'll get to feel the exact page

[2021-01-05 18:07] preeti13456 commented on #21
Okay then it's fine

[2021-01-06 04:59] preeti13456 commented on #4
How much have you done?

[2021-01-06 05:02] preeti13456 commented on #4
I have updated some files try to create the backend according to them. Remove the duplicate files and folder containing duplicate files and integrate them in original folders.

[2021-01-06 05:02] #21 closed, assigned to kishankr7979

[2021-01-06 05:03] preeti13456 commented on #16
I have updated some files please make the changes accordingly as well as remove duplicate of already created files

[2021-01-06 05:11] preeti13456 commented on #3
@anshshankar  make the pr as soon as possible

[2021-01-06 05:17] preeti13456 commented on #7
Code of conduct is already been added, Try to update the README file looking into changes already been done, as soon s possible.

[2021-01-06 05:22] harikishantk commented on #4
I haven't started yet, I was waiting for front-end issues  to get finished so that I complete the payment part. I'll start it right away.

[2021-01-06 05:22] harikishantk commented on #4
Okay, mam, I'll do it.

[2021-01-06 05:23] preeti13456 commented on #4
Yes frontend is almost ready. I'll merging the files you can start your work on backend part.

[2021-01-06 05:37] #14 closed, assigned to TrushaT

[2021-01-06 05:38] preeti13456 commented on #8
How much have you done?

[2021-01-06 05:39] preeti13456 commented on #8
Do the changes according to the modifications in the project.

[2021-01-06 06:26] #12 closed, assigned to himanshu007-creator

[2021-01-06 06:28] preeti13456 opened #25 "Changes in location of code of conduct and GitHub issue template #SWoC20"
Add code of conduct and GitHub issue template from the template to the root

[2021-01-06 06:29] akrish4 commented on #25
Kindly assign me @preeti13456

[2021-01-06 07:21] Aniket118 commented on #16
ok I'll look into it?

[2021-01-06 07:25] preeti13456 commented on #16
ok

[2021-01-06 08:57] akrish4 commented on #7
#26 PR

[2021-01-06 09:17] #7 closed, assigned to akrish4

[2021-01-06 09:25] Ajaykumar34 commented on #8
yes i need some time but i'm working on html,css,javascript not for django .if you ok with it then you giving a response to me.

[2021-01-06 09:28] preeti13456 commented on #8
Ok

[2021-01-06 09:31] Ajaykumar34 commented on #8
i'll give you demostratation how location will work on our project.

[2021-01-06 09:33] preeti13456 commented on #8
Cool

[2021-01-06 12:42] anshshankar commented on #3
ya sure

[2021-01-06 14:09] akrish4 commented on #25
#27  PR

[2021-01-06 14:24] #25 closed, assigned to akrish4

[2021-01-06 14:27] #3 closed, assigned to anshshankar

[2021-01-06 14:28] preeti13456 commented on #4
You can start the backend.

[2021-01-06 14:40] preeti13456 opened #29 "Remove unwanted duplicate files and folder containing duplicated files #SWoC30"
Go to repo pull it into your local machine, create new ranch delete unwanted files, make sure the project still runs the same way, commit your changes and push the new branch to remote lastly merge the new branch into the original and verify correct files going to be merge before deleted.
*Whosoever works on this issue efficiently get some brownie points from my side*.
Also, try to remove the  git

[2021-01-06 14:58] aavishkarmishra commented on #29
Interested
Please assign this issue to me.

[2021-01-06 14:59] preeti13456 commented on #29
Tell me your approach first?

[2021-01-06 17:18] preeti13456 opened #30 "Changes on Login page #SWoC30"
Enhancement of the login button on the hope page by adding some CSS design. As well as create a forgot password button after in the login box.

[2021-01-06 17:28] harikishantk commented on #30
I would like to work on it, after I finish the backend part. May I?

[2021-01-06 17:33] preeti13456 commented on #30
Yes but I have opened after the conversation with one of the participants, first I'll give him a chance to contribute after that you can also work on the issue with the changes.

[2021-01-06 17:40] dollyjain51099 commented on #30
I would like to work on this issue, please assign it to me!

[2021-01-06 17:40] sanyajain26 commented on #30
I would like to work on this issue, please assign it to me!

[2021-01-06 17:41] preeti13456 commented on #30
Tell me your approach first @dollyjain51099 @sanyajain26

[2021-01-06 17:45] spursbyte commented on #30
i will like to work on it.
can you assign me

[2021-01-06 17:47] preeti13456 commented on #30
How will you approach?

[2021-01-06 17:50] spursbyte commented on #30
i will add first css design to the login button ..preferebly crreating a padding around it and looking for some transparent design for the box around it.if it does'nt look convincing then will try to fill it with a color that would complement the background. then i will move on the forgot password part.

[2021-01-06 17:51] preeti13456 commented on #30
Cool

[2021-01-06 18:01] anshshankar commented on #3
@preeti13456  could you open an issue for each and every page of the project . As this makes this lightens up the programer's work and you could get your work done in short period of time, due to involment of many coders. And the website will more looks more awesome . You could Fix a theme for the website.  As I couldn't do much work due to time constraint from my side. I had Fully prepared About

[2021-01-06 18:04] anshshankar commented on #3
As i have closely monitored this project for almost 1 and half week . I could understand the project very well .
And will soon available for contribution in span of 2 weeks ,Since there is event going on in my university , i couldn't do much to project. And I regret it.

[2021-01-06 18:05] preeti13456 commented on #3
Sounds cool. So I have created the issue for login page I'll create an issue for about us page as well.

[2021-01-06 18:05] preeti13456 commented on #3
Is that ok?

[2021-01-06 18:07] preeti13456 opened #31 "Changes on about us page"
Make the about us page more dynamic and  enhanced. Share your approach in the comment section.

[2021-01-06 18:07] anshshankar commented on #3
Ya you could create issue for it if you want, And also you should create issue for rent_bike ,Bikes ,Offers ,Contact us And Should create a new page for profile section

[2021-01-06 18:08] preeti13456 commented on #3
Rent_bikes and bikes have already been done check the repo. I'll create for contact us, offers a and profile section

[2021-01-06 18:09] anshshankar commented on #3
ok

[2021-01-06 18:12] preeti13456 opened #32 "Add responsiveness to the site #SWoC30"
For responsiveness and styling, you can use material design, tailwind css , or bootstrap.
Share your approach what will you go for and why?

[2021-01-06 18:14] preeti13456 opened #33 "Changes needed on website page"
on your hero, that's the header banner thing the background is repeating by default , use this css to fix that {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

[2021-01-06 18:18] preeti13456 opened #34 "Add docker container or kubernetes on the website #SWoC30"
docker would help to run code on server
And docker container would allow the script to run individually for every user
Add scalability in the application.
I'll add brownie points for most efficient solution.
Detail your approach here.

[2021-01-06 18:22] preeti13456 opened #35 "Changes required in profile section #SWoC20"

[2021-01-06 19:54] Sloth-Panda commented on #35
would like to work on this

[2021-01-06 19:55] Sloth-Panda commented on #32
would like to take this issue

[2021-01-06 19:57] Sloth-Panda commented on #32
I will use bootstrap to make this  as I am more comfortable with that but if you don't want to use that I can do it using css and media queries

[2021-01-07 01:20] pritamp17 commented on #31
Mam i would like to work on this issue, could you please assign this to me? I  can make page more dynamic and responsive using media query..

[2021-01-07 01:22] pritamp17 commented on #33
Mam i would like to work on this issue,  could you please assign me this?

[2021-01-07 03:51] preeti13456 commented on #29
I am assigning it to you but you have to tell me your approach first

[2021-01-07 06:10] kishankr7979 commented on #30
@preeti13456 hey, can we move forward with express.js server only if you are not strict to the Django

[2021-01-07 06:22] preeti13456 commented on #30
This issue has been assigned already let's see the outcome first, if it still needs changes we can think about it.

[2021-01-07 06:23] dollyjain51099 commented on #35
I would like to work on this issue, please assign it to me!

[2021-01-07 06:24] preeti13456 commented on #33
I can't assign you this issue as per person I can assign only one issue. But if you completed the assigned one I will assign this to you.

[2021-01-07 06:25] preeti13456 commented on #35
ok, Since @Sloth-Panda  has been already assigned to another issue, I will be assigning this issue to you @dollyjain51099 but you have to first share your approach.

[2021-01-07 06:26] dollyjain51099 commented on #30
I was also wondering about adding a couple of elements to the login template and make it look attractive using CSS.

[2021-01-07 06:32] dollyjain51099 commented on #35
Can you please give a brief about this issue.

[2021-01-07 06:34] preeti13456 commented on #35
Did you check the website completely?

[2021-01-07 06:35] sanyajain26 commented on #30
@preeti13456  Hey, I was thinking of styling the button with color contrast that goes with the background and can change the style of the button upon hovering, can also add some icon to it.

[2021-01-07 06:40] preeti13456 commented on #35
Basically when we go to the profile section of the website, it's not work fine on mobile. As well as it's not quite appealing

[2021-01-07 06:40] preeti13456 commented on #35
So you have to work on that.

[2021-01-07 06:44] preeti13456 commented on #30
Sure good point

[2021-01-07 06:49] preeti13456 commented on #32
There is some work done using bootstrap as well. I am comfortable as far as the changes are not affecting the website in a bad way. So make modification accordingly and also check that after modifyin g the website is working finely same on computer and android.

[2021-01-07 06:51] Sloth-Panda commented on #32
![Screenshot (35)](https://user-images.githubusercontent.com/70213384/103861044-c56cb980-50e2-11eb-9e54-86cbc7553227.png)
![Screenshot (34)](https://user-images.githubusercontent.com/70213384/103861029-bdad1500-50e2-11eb-946b-7da5361f5dc6.png)

Are the stylesheets not linked properly? or what's the issue why I am seeing something like this on my local machine??

[2021-01-07 06:54] sanyajain26 commented on #33
I would like to work on this issue, please assign this to me @preeti13456

[2021-01-07 06:55] dollyjain51099 commented on #35
okay, thank you for the help!

[2021-01-07 06:58] sanyajain26 commented on #30
Can you assign this to me so that I can start working?

[2021-01-07 06:59] preeti13456 commented on #32
But I am saying the website perfectly working.

[2021-01-07 06:59] preeti13456 commented on #32
Ya it may be possible because I have deployed it using heroku and the images are not connecyed properly.

[2021-01-07 07:01] preeti13456 commented on #30
I'll create a seprate issue fr the same. As it's already assigned.

[2021-01-07 07:02] preeti13456 opened #36 "Styling the login button"
styling the button with color contrast that goes with the background and can change the style of the button upon hovering, can also add some icon to it.

[2021-01-07 07:03] preeti13456 commented on #30
Comment there I'll assign it to you.

[2021-01-07 07:08] Akshi149 commented on #36
Hi @preeti13456 I would like to work on it.

[2021-01-07 07:15] dollyjain51099 commented on #36
I would like to work on this issue, kindly assign it to me!

[2021-01-07 07:17] preeti13456 commented on #36
Already assigned.

[2021-01-07 07:23] Sloth-Panda commented on #32
Then what can I do ?? Like I can't see a perfect layout so how can I work and make it responsive?

[2021-01-07 07:40] preeti13456 commented on #32
Look into static files folder and static folder

[2021-01-07 07:40] preeti13456 commented on #32
Images are there only.

[2021-01-07 07:47] Sloth-Panda commented on #32
Hey @preeti13456  I have messaged on the slack channel  check that out

[2021-01-07 07:52] sanyajain26 commented on #36
I would like to work on this issue, assign it to me.

[2021-01-07 08:12] preeti13456 commented on #4
Do the backend integration by taking in the changes already done to the site check o the templates folder and do the changes accordingly. It has been 10 days

[2021-01-07 08:15] preeti13456 commented on #8
@Ajaykumar34 you have today only to submit the work progress. It's been 7 days now please report your work.

[2021-01-07 10:20] Ajaykumar34 commented on #8
ok i'll submit the report as soon as

[2021-01-07 10:25] SinghShreya05 commented on #4
Ma'am I would like to contribute. Please assign me.

[2021-01-07 12:26] Ajaykumar34 commented on #8
hello mam there is some problem with api so at this time i can't convert latitude and longlitude to the formatted address.
but i have genrates latitudes and longlitudes of our current location.it will show in console

[2021-01-07 12:28] Ajaykumar34 commented on #8
i'll added the code on your rent_now.html

[2021-01-07 12:29] preeti13456 commented on #8
Is this problem occuring due to the recent changes in the frontend?

[2021-01-07 12:32] Ajaykumar34 commented on #8
no, i  have nothing change in your frontend and i have only written js code only

[2021-01-07 12:34] Ajaykumar34 commented on #8
but if api work properly i'll added new html and css file for pick a location.

[2021-01-07 12:34] preeti13456 commented on #8
Okay so for now only some work has been done for this issue. Did you created the or for the same??

[2021-01-07 12:36] Ajaykumar34 commented on #8
firstly i have to check api work  properly in our project , then i will move to the next part of the functionality

[2021-01-07 12:37] preeti13456 commented on #8
Pull request

[2021-01-07 12:38] Ajaykumar34 commented on #8
ok

[2021-01-07 12:49] Ajaykumar34 commented on #8
please check the pull request

[2021-01-07 12:50] preeti13456 commented on #8
Didn't received any

[2021-01-07 12:54] Ajaykumar34 commented on #8
ok check it again

[2021-01-07 13:03] preeti13456 commented on #8
Cool but currently this issue has not been resolved completely right?

[2021-01-07 13:14] Ajaykumar34 commented on #8
yes, i'm working on it the api  is used for genrating formatted address but the api having some problem.

[2021-01-07 13:15] preeti13456 commented on #8
I have assigned it to @Adarsh88 , he will take it from here @Ajaykumar34  is that will be okay with you?

[2021-01-07 13:17] Ajaykumar34 commented on #8
so tell me mam which part i'm working on this project

[2021-01-07 13:19] preeti13456 commented on #8
I'll reassign you this issue after 4-5 days from now if the issue not resolved. Till that you can help @Adarsh88 on this issue aa well as contribute to some other  issues as well.

[2021-01-07 13:21] Ajaykumar34 commented on #8
okk

[2021-01-07 19:53] kenkirito commented on #34
can i work on this issue

[2021-01-07 19:55] preeti13456 commented on #34
Sure I'll be assigning you but share your approach first.

[2021-01-07 20:14] kenkirito commented on #34
I have a basic idea about it I will try to implement it

[2021-01-07 20:27] preeti13456 commented on #34
Good luck with that but backend part is still in progress due to some changes in original code, so you to do it accordingly.

[2021-01-08 11:05] sanyajain26 commented on #33
Can you please specify which page you are talking about? @preeti13456

[2021-01-08 11:20] preeti13456 commented on #33
Well you can go through any website page here where you think there's a need of enhancement, and try to look into the changes already done with the frontend portion.

[2021-01-08 15:35] dollyjain51099 commented on #35
I'm not able to view any profile section, so can you please tell me whether I should create one!

[2021-01-08 15:37] preeti13456 commented on #35
Yes instead of creating one work on the source code and check why it's not working on mobile. Is still ot didn't work out you can proceed but don't create a a separate folder for the same.

[2021-01-08 15:38] dollyjain51099 commented on #35
But there is no specific profile page that exists.

[2021-01-08 15:40] preeti13456 commented on #35
Check the templates folder there will be some pages regarding home and about us

[2021-01-08 16:05] dollyjain51099 commented on #35
but how are you co-relating home.html and about.html with profile page?

[2021-01-08 16:10] preeti13456 commented on #35
Basically it's the about us page but i was saying about home page as you have raised the issue that it's not accessible through mobile.

[2021-01-08 16:13] preeti13456 commented on #35
The page about us was already modified you have to work on regex.html page.

[2021-01-08 16:16] Abhijay007 opened #39 "Feature request: add calling functionality through internet SWoC30"
**Is your feature request related to a problem? Please describe.**

If the user clicks on the given number on the site, then nothing happens, he/she needs to dial it manually. I want to implement a functionality that whenever the user clicks on the number the call will automatically dial from his/her mobile

**Describe the solution you'd like**

 we just need to add an HTML anchor tag and need to

[2021-01-08 16:20] preeti13456 commented on #39
Add this feature as well as check if it's visible on Android as well.

[2021-01-08 16:21] preeti13456 commented on #39
And before opening ask to raise this issue otherwise it will be difficult to enter in one of teh swoc contribution.

[2021-01-08 17:03] Abhijay007 commented on #39
@preeti13456  ma'am, it automatically shows the active devices(connected) on the webpage and triggers call on its own.

[2021-01-08 17:11] preeti13456 commented on #39
ok then go ahead

[2021-01-08 17:19] Nikcodes10 opened #41 "UI changes"
**Is your feature request related to a problem? Please describe.**
- UI enhancement

- The website UI for all pages is quite boring and does not suite mobile screens.

**Describe the solution you'd like**

I would like to enhance the UI and make the website more user friendly.

**A clear and concise description of what you want to happen.**
- Using external libraries for styling purposes and prope

[2021-01-08 17:21] preeti13456 opened #42 "UI changes SWoC20"
Improving the UI of the website.

[2021-01-08 17:22] gmnikhil commented on #42
#41

[2021-01-08 17:23] #41 closed

[2021-01-08 17:24] #39 closed, assigned to Abhijay007

[2021-01-08 17:33] patelaryan7751 commented on #42
@preeti13456 i want to work on this.

[2021-01-08 17:38] preeti13456 commented on #42
It's already assigned wait for 5 days . Till it get assigned to you in the meantime you can explore the website fix some bugs or raise issue and can provide any valuable feedback to this issue as well.

[2021-01-08 18:29] patelaryan7751 opened #43 "make login page more responsive."
**Describe the bug**
----
- to make the login form page responsive for mobile

**To Reproduce**
----
- Steps to reproduce the behavior:
  open login from the home page

**Expected behavior**
-----
- The elements of form are appearing to be small in mobile size viewports . It should appear bigger then it would look more eye catching on mobile devices.

**Possible solution**
----
More work need to b

[2021-01-08 18:31] patelaryan7751 commented on #43
@preeti13456 i want to work on this issue.

[2021-01-09 04:40] Sloth-Panda commented on #32
Hey @preeti13456  is the issue sorted??

[2021-01-09 13:15] Ajaykumar34 commented on #8
hello mam i need help who is mentor of this project.

[2021-01-09 13:15] Ajaykumar34 commented on #8
the issues is almost solved

[2021-01-09 14:09] nehaparmar99 commented on #35
Hey, can I work on this issue?

[2021-01-10 06:29] Sloth-Panda opened #46 "It's confusing as a beginner if the methods for running the backend server on localhost is not mentioned so that can be mentioned in the readme"
1.like installing the dependencies
2. and running the project on the localhost

These commands should be there in the readme

[2021-01-10 06:31] preeti13456 commented on #46
I'll make that readme upadte issue, for everyone to contribute and document their work. Thanks for the suggestion.

[2021-01-10 06:34] preeti13456 opened #47 "Should be contributed by every participant #SWoC20"
Update readme
Create different segment of installation of project, like installation of software required to carry on with backend, frontend part prerequistives and process.
Make the issue you're working on documented so that the next person who will work on it get familiar.

[2021-01-10 06:34] #46 closed

[2021-01-10 06:35] #42 closed, assigned to gmnikhil

[2021-01-10 06:36] #43 closed

[2021-01-10 06:37] preeti13456 commented on #36
Is there any update @Akshi149

[2021-01-10 06:38] preeti13456 commented on #35
Is there any update @dollyjain51099 ?

[2021-01-10 06:39] preeti13456 commented on #4
Is there any update @SinghShreya05 ?

[2021-01-10 06:39] preeti13456 commented on #16
Any update @Aniket118

[2021-01-10 06:40] preeti13456 commented on #29
Any update @aavishkarmishra ?

[2021-01-10 06:41] preeti13456 commented on #34
Any update @kenkirito ?

[2021-01-10 06:41] preeti13456 commented on #33
Any updates @sanyajain26 ?

[2021-01-10 06:41] preeti13456 commented on #32
Yes check once

[2021-01-10 06:42] preeti13456 commented on #31
Any updates @pritamp17

[2021-01-10 06:43] preeti13456 commented on #33
Basically the changes are mainly needed for login page first.

[2021-01-10 06:44] preeti13456 commented on #33
Then we can move ahead to other pages. About us and rent bikes pages rae already sorted. So there you're left with some changes needed for offer, login.

[2021-01-10 06:44] preeti13456 commented on #30
Any updates @spursbyte ?

[2021-01-10 06:45] pritamp17 commented on #31
Mam I am working on it..I will send PR today.

[2021-01-10 06:46] preeti13456 commented on #31
Ok

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Pritam Pawar <notifications@github.com>
Sent: Sunday, January 10, 2021 12:15:35 PM
To: preeti13456/CityonBikes <CityonBikes@noreply.github.com>
Cc: Preeti Sharma <preetijecrc99@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [preeti13456/CityonBikes] Changes on about us page (#31)

Mam I am work

[2021-01-10 06:48] spursbyte commented on #30
Yes it is almost complete but as per our discussion i have to undo the changes i have made to the login button..so that part is only left.And forgot password button is done.

[2021-01-10 06:53] preeti13456 commented on #30
Ok

[2021-01-10 06:56] dollyjain51099 commented on #35
Can I contact you on Slack? @preeti13456

[2021-01-10 06:57] preeti13456 commented on #35
Sure

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Dolly Jain <notifications@github.com>
Sent: Sunday, January 10, 2021 12:26:45 PM
To: preeti13456/CityonBikes <CityonBikes@noreply.github.com>
Cc: Preeti Sharma <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [preeti13456/CityonBikes] Changes required in profile section (#35)

[2021-01-10 06:59] dollyjain51099 commented on #35
I contacted you on Slack. @preeti13456

[2021-01-10 07:02] SinghShreya05 commented on #4
There's a slight hiccup in integration process, in order to settle the payment received and setting up the integration process, Ma'am I'm texting you on slack regarding this,

[2021-01-10 07:05] preeti13456 commented on #4
Sure

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SHREYA SINGH <notifications@github.com>
Sent: Sunday, January 10, 2021 12:32:18 PM
To: preeti13456/CityonBikes <CityonBikes@noreply.github.com>
Cc: Preeti Sharma <preetijecrc99@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [preeti13456/CityonBikes] The backend integration (#4)

Is there any

[2021-01-10 07:17] Akshi149 commented on #36
I was having viva from past two days. Will surely do it in the next day or two

[2021-01-10 07:30] preeti13456 commented on #36
Ok from next to me tell me in prior

[2021-01-10 07:36] harsh-9in opened #48 "SMTP server for sending welcome email after signup"
**Is your feature request related to a problem? Please describe.**
When the user signup into the site, there will be a welcome message snd to the registered email.

**Describe the solution you'd like**
In Django, we have an SMTP server configuration for this email service.

[2021-01-10 07:41] preeti13456 opened #49 "SMTP server #SWoC30"
SMTP server for sending welcome email after signup

[2021-01-10 12:45] kenkirito commented on #34
sorry but I am busy with another issue. I will give u an update on Tuesday

[2021-01-10 13:15] preeti13456 commented on #34
Sure

[2021-01-11 09:35] preeti13456 opened #51 "Frontend Integration #SWoC40"
Check all the files of the modified frontend pages of home, login, about us, offer, and others and integrate them with the source code. This will help to reduce the complexity of our app as well as help to run it on other devices with ease. As well as try to remove the codes if they are visible on the pages.
Will guarantee browny points for an efficient solution

[2021-01-11 10:28] pritamp17 commented on #49
@preeti13456 mam i want to try working on this issue ,as i have worked on smtp libarary before ,could you assign me this?

[2021-01-11 11:20] preeti13456 commented on #49
Sure

[2021-01-12 08:11] preeti13456 opened #52 "Welcome bot #SWoC40"
Create a bot that will open up a pull requests as a project admin, as well as can create an issue. The bot is also responsible to send a welcome message for each contribution automatically.

[2021-01-12 08:44] nilisha-jais commented on #51
I want to contribute in this issue(participant of SWoC'21)

[2021-01-12 08:45] nilisha-jais commented on #47
I can work on it!!

[2021-01-12 08:46] preeti13456 commented on #47
Great. But the work is alot can you handle that. And it must be efficient.

[2021-01-12 08:48] preeti13456 commented on #51
You can contribute to any one issue one at at a time.

[2021-01-12 08:48] preeti13456 commented on #51
So decide and tell me which issue you want to work upon?

[2021-01-12 08:49] #31 closed, assigned to pritamp17

[2021-01-12 10:02] kishankr7979 commented on #4
Hey @preeti13456 do we have any update regarding the payment gateway? i can suggest a good idea for the same

[2021-01-12 10:02] kishankr7979 commented on #4
We can go for a Razorpay's payment gateway

[2021-01-12 10:03] preeti13456 commented on #4
Yes we are working on that approach.

[2021-01-12 11:08] 96RadhikaJadhav commented on #36
@preeti13456  Can I work on the issue?

[2021-01-12 11:17] preeti13456 commented on #36
Sure

[2021-01-12 11:36] Ajaykumar34 commented on #8
hello mam my work is done

[2021-01-12 11:37] preeti13456 commented on #8
Please create a pr with as if you can

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Ajaykumar34 <notifications@github.com>
Sent: Tuesday, January 12, 2021 5:06:55 PM
To: preeti13456/CityonBikes <CityonBikes@noreply.github.com>
Cc: Preeti Sharma <preetijecrc99@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [preeti13456/CityonBikes] Adding func

[2021-01-12 11:44] Ajaykumar34 commented on #8
please check

[2021-01-12 11:46] Ajaykumar34 commented on #8
temporary i have printed formatted address in the paragraph section

[2021-01-12 13:27] preeti13456 commented on #4
Any progress @SinghShreya05

[2021-01-12 13:28] preeti13456 commented on #8
Good work @Adarsh88

[2021-01-12 13:28] preeti13456 commented on #8
Good work @Ajaykumar34

[2021-01-12 13:28] #8 closed, assigned to Ajaykumar34

[2021-01-12 13:29] preeti13456 commented on #34
Any progress  @kenkirito ?

[2021-01-12 13:45] kenkirito commented on #34
sorry @preeti13456 i am currently busy you can unassign me from this task

[2021-01-12 18:30] #36 closed, assigned to 96RadhikaJadhav

[2021-01-12 18:41] 96RadhikaJadhav commented on #33
@preeti13456  Can I work on the issue? If I can, then can you please let me know to which file first we can do the changes.

[2021-01-12 18:42] preeti13456 commented on #33
Yes surely will tell you.

[2021-01-12 18:43] preeti13456 commented on #51
Hey @nilisha-jais can you work on this issue?

[2021-01-12 20:03] SinghShreya05 commented on #4
Ma'am I've sent a PR, kindly review and merge it. And please let me know if anything else needs to be done. Thank you. @preeti13456

[2021-01-12 20:15] preeti13456 commented on #4
No it was good but can you help me in finding a geocoding api?

[2021-01-12 20:15] #4 closed, assigned to SinghShreya05

[2021-01-12 20:28] SinghShreya05 commented on #4
@preeti13456 Sure Ma'am, I'll like to work on this.

[2021-01-13 14:13] Vrindagupta6828 commented on #52
@preeti13456 please assign this issue to me.

[2021-01-13 18:24] prajjwal1231 commented on #30
Hey, @preeti13456 Assign this issue to me.

[2021-01-13 18:26] preeti13456 commented on #30
Some worlnhas already been done @prajjwal1231 so kindly make the changes accordingly.

[2021-01-13 18:53] prajjwal1231 commented on #30
Okay @preeti13456

[2021-01-13 19:10] TanweerulHaque commented on #29
Can I proceed with this issue ?? @preeti13456 I am an SWoC participant.

[2021-01-13 19:11] preeti13456 commented on #29
Sure

[2021-01-14 05:51] #30 closed, assigned to prajjwal1231

[2021-01-14 13:45] Vrindagupta6828 commented on #52
@preeti13456 listen do we have to give welcome messages when a pr is raised or issue is created or contribution is done? As how can a bot create issue or open pull request?

[2021-01-14 14:06] preeti13456 commented on #52
You have to create welcome message for contribution, and rge issue is created andveaise by project adminnonly so you have to set it accordingly

[2021-01-14 14:12] Vrindagupta6828 commented on #52
Can you elaborate??does it mean that if any other user or contributor will raise an issue he will not be able to

[2021-01-14 15:18] preeti13456 commented on #52
He/she can definitely raise but it will not be counted for contribution.

[2021-01-14 16:50] Vrindagupta6828 commented on #52
Can you please share some link for my help as i am unable to understand what exactly the bot will do.

[2021-01-14 16:52] preeti13456 commented on #52
Ok np @akrish4 I will be assigning this issue to you.

[2021-01-14 17:02] akrish4 commented on #52
Kindly assign me @preeti13456

[2021-01-14 17:12] 96RadhikaJadhav commented on #33
@preeti13456  Any update on the above request?

[2021-01-14 17:14] preeti13456 commented on #33
Ya you can work on pages other than login, about us, rent bikes. But check the page which has not been changed from the template folder itself

[2021-01-14 17:15] preeti13456 commented on #33
And please tell me here whatare you going to work on and your approach as well?

[2021-01-14 17:26] 96RadhikaJadhav commented on #33
@preeti13456  I'm thinking of working on home page styling. As it's a bit difficult to read the City on Bikes content as the font and background color are bit same. After this is done, will check other pages too and can update you about the same. Sounds good?

[2021-01-14 17:41] 96RadhikaJadhav commented on #33
![image](https://user-images.githubusercontent.com/56536997/104627871-93002500-56bd-11eb-9fbc-abf04a8d0274.png)

Here is a screenshot for your reference. The content above sign up button. Please let me know if I can work on this.

[2021-01-14 17:45] preeti13456 commented on #33
Sure go ahead

[2021-01-15 07:21] fatmab2809 commented on #47
Can I work on this issue?

[2021-01-15 07:22] preeti13456 commented on #47
Sure

[2021-01-15 13:44] 96RadhikaJadhav commented on #33
@preeti13456  I have created a PR. Along with the styling I have also added some extra lines to the description of the City on Bikes project. Please review it and let me know if any changes needs to be undo.

[2021-01-15 16:11] nayaldivya commented on #51
Hi @preeti13456, can you please assign this issue to me?

[2021-01-15 16:15] nayaldivya commented on #51
Thanks @preeti13456. Can you please provide me some resources so that i can come up with an efficient solution.

[2021-01-15 16:18] #33 closed, assigned to 96RadhikaJadhav

[2021-01-15 16:20] #32 closed, assigned to Sloth-Panda

[2021-01-15 16:23] preeti13456 commented on #51
I don't have specific docs as such. But I think @akrish4 can help you in providing guidance for setting up and other resources. As he has already familiar with the website.

[2021-01-16 10:39] harsh7in opened #58 "A setup.md file for setting the django project after cloning it #SWoC30"
As there are many beginners who want to contribute to the project but they usually have trouble while setting the project.
so there will be step by step process to run the project after cloning it.

[2021-01-16 19:48] #29 closed, assigned to TanweerulHaque

[2021-01-18 10:21] preeti13456 opened #60 "Changes on login page"
Remove overlapping on https://cityon.herokuapp.com/loginPage/?next=/rent_now/ this page

[2021-01-18 10:24] preeti13456 opened #61 "Changes needed Home Page"
Require to remove the red font slider page on the home page. Website Link: https://cityon.herokuapp.com/. Remove the already available code file when pushing a commit.

[2021-01-18 10:25] preeti13456 commented on #52
Updates?

[2021-01-18 10:25] preeti13456 commented on #51
Update?

[2021-01-18 10:25] preeti13456 commented on #49
Update?

[2021-01-18 10:26] preeti13456 commented on #47
Update?

[2021-01-18 10:27] preeti13456 commented on #35
Update?

[2021-01-18 10:28] preeti13456 commented on #61
As well as the background image is also not right. Need modification

[2021-01-18 10:40] akrish4 commented on #52
yes I will open the pr soon

[2021-01-18 11:03] akrish4 commented on #52
#62   PR

[2021-01-18 11:31] fatmab2809 commented on #47
Actually my exams are going on, so I'm not getting much time to work on it. But i will try to finish it in a week

[2021-01-18 11:57] TanweerulHaque commented on #61
I can work on this issue mam. @preeti13456 . What are all the changes needed to be done ?? Should I make that font colour white as in the next image of the carousel?? And Do I need to change the background image too ?? I am an SWoC participant.

[2021-01-18 12:02] preeti13456 commented on #61
No, just delete the first slider containing red font, as the content is same in both, then the background image of the home page should be the one containing bike in background so make it accordingly and do the changes from  in the given code itself not create the other file Or folder.

[2021-01-18 12:36] TanweerulHaque commented on #61
I have sent a PR. Please review it. @preeti13456

[2021-01-18 13:18] nehaparmar99 commented on #60
Can I work on this under SWoC'21?

[2021-01-18 13:32] preeti13456 commented on #60
Sure

[2021-01-18 13:36] pritamp17 commented on #49
mam I'm working on it

[2021-01-18 13:57] nehaparmar99 commented on #60
Ma'am do you only want the the overlapping texts to be taken care of or want a redesign of the form as well?

[2021-01-18 13:59] preeti13456 commented on #60
Firstly I want only overlapping to be removed. After then we can see if the design is required Or not.

[2021-01-18 15:38] pritamp17 commented on #49
@preeti13456 mam I was able to send mail on successfully registering with SMTP but, the account from which we will be sending mail should enable "allow less secured device" option.will that be fine?

[2021-01-18 15:56] preeti13456 commented on #49
No that will be an issue.  Because the user has to enable advanced options and what if the feature didn't work out on android. Issues of cookies can also be there. Did you test it?

[2021-01-18 16:03] pritamp17 commented on #49
yes, mam, I tested it the one who will send the mail only has to enable allow secure apps, the receiver doesn't, and also received an email on android there was no other issue I encountered.

[2021-01-18 16:07] nehaparmar99 commented on #60
<img width="1440" alt="Screenshot 2021-01-18 at 9 32 22 PM" src="https://user-images.githubusercontent.com/48972593/104938598-4ece9680-59d5-11eb-9bb1-015dc7b4393a.png">
Ma'am is this okay?

[2021-01-18 16:08] preeti13456 commented on #49
Ok then

[2021-01-18 16:08] preeti13456 commented on #60
Yes perfect

[2021-01-18 16:09] nehaparmar99 commented on #60
Is anything else required or should I make a PR then?

[2021-01-18 16:10] preeti13456 commented on #60
Make the pr

[2021-01-18 16:11] nehaparmar99 commented on #60
Sure maam.Just wanted to know how many points this adds on my SWoC.

[2021-01-18 16:11] pritamp17 commented on #49
mam, should I send PR then?

[2021-01-18 16:12] #52 closed, assigned to akrish4

[2021-01-18 16:18] preeti13456 commented on #49
Yes please

[2021-01-18 18:54] #60 closed, assigned to nehaparmar99

[2021-01-18 18:54] #49 closed, assigned to pritamp17

[2021-01-18 18:55] #61 closed, assigned to TanweerulHaque

[2021-01-20 07:08] nayaldivya commented on #51
@preeti13456 I've set up the project on my system and currently researching through the issue. This is first time for me working on frontend integration hence it's going a little tough for me.

[2021-01-20 07:09] preeti13456 commented on #51
Sure, take your time

[2021-01-23 18:55] nayaldivya commented on #51
Hi @preeti13456, can you please brief me again about this issue. Some hints and pointers would be very helpful.  I was trying to understand the codebase and do some research about frontend integration all this time.

[2021-01-23 19:06] nayaldivya commented on #58
Hi @preeti13456, Since I've already set the project on my system, I know it well and can solve this issue.

[2021-01-23 19:09] preeti13456 commented on #51
I can assign you one issue at a time only @nayaldivya . Since you're facing problem resolving this issue after so much time given to you . I will be unassigning this issue.

[2021-01-23 19:15] nayaldivya commented on #51
I understand @preeti13456. Thanks for your time.

[2021-01-25 12:56] nayaldivya commented on #58
Hi @preeti13456, should I name the file setup.md or SETUP.md?

[2021-01-25 13:06] preeti13456 commented on #58
The former one

[2021-01-25 13:38] nayaldivya commented on #58
Hi @preeti13456, I made a PR. Have a look and tell me if any changes you need.

[2021-01-29 07:09] #58 closed, assigned to nayaldivya

[2021-02-02 11:57] vismitap commented on #47
Hey! Can I work on this issue?

[2021-02-02 11:58] preeti13456 commented on #47
Sure

[2021-02-02 12:01] vismitap commented on #47
Thanks for assigning! Can I contact you on slack personally?

[2021-02-02 12:02] preeti13456 commented on #47
Ok

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: vismitap <notifications@github.com>
Sent: Tuesday, February 2, 2021 5:31:52 PM
To: preeti13456/CityonBikes <CityonBikes@noreply.github.com>
Cc: Preeti Sharma <preetijecrc99@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [preeti13456/CityonBikes] Should be contributed by every participant #SWoC2

[2021-02-02 14:17] vismitap commented on #47
Having some issues with the setting up of project dependencies!
I got the `Error: could not find a version that satisfies the requirement psycopg2 == 2.8.5` with `python3` version.
It is suggesting to `pip install psycopg2-binary` instead.
Searched a lot for a solution and came to know that we should be using <2.8.5 or 2.8.6.  Please refer [this](https://github.com/psycopg/psycopg2/issues/1075)

B

[2021-02-02 14:19] preeti13456 commented on #47
Use the upgraded version as its preferred as it will work will  the lower version as well

[2021-02-02 14:21] vismitap commented on #47
Okie thanks! Will edit in the requirements.txt as well then 👍

[2021-02-02 17:00] Abhir-24 commented on #35
@preeti13456 if only the UI of the profile section needs to be changed then I can work on this issue using HTML, CSS

[2021-02-02 17:42] vismitap commented on #47
Hey! I have raised a PR #69. Please review and suggest changes if any.

[2021-02-02 17:56] vismitap opened #70 "Syntax Issues in home.css"
**Describe the bug**
----
The Landing page of website looks like this. Here, text needs to be of some other colour so that it is clearly visible.
![image](https://user-images.githubusercontent.com/47056243/106641463-41a4d080-65ad-11eb-9f31-a9ffbbc981e6.png)

There are some syntax issues in home.css as well. Nesting of code is done in CSS which is causing errors.
![image](https://user-images.github

[2021-02-03 12:28] vismitap commented on #70
Hey! while I was going through the css files, noticed that the home.html also has some issues. Gonna fix that too 👍
![image](https://user-images.githubusercontent.com/47056243/106747016-59319700-6649-11eb-981e-e96e21eecd0d.png)

[2021-02-03 14:00] vismitap commented on #70
Hey! Raised a Pr #71. Please review

[2021-02-03 17:42] Kathuria commented on #51
@preeti13456 : Can I try work on this integration?

[2021-02-03 17:46] preeti13456 commented on #51
Sure

[2021-02-04 04:42] Kathuria commented on #51
@preeti13456 : While installing and setting up this repo, faced
django 3.1.4 requires asgiref<4,>=3.2.10, but you'll have asgiref 3.2.7 which is incompatible.

I updated in requirements **asgiref 3.2.10**, Can I commit as well?

and can we update in documentation that project won't work with **python 3.9.1**, it should be <=3.8.x
{Reason The current psycopg2 implementation supports:

Python versio

[2021-02-06 13:41] #47 closed, assigned to vismitap

[2021-02-06 13:41] #70 closed, assigned to vismitap

[2021-02-07 10:41] Kathuria commented on #51
@preeti13456 : As part of frontend integration, In first step, I integrated PasswordRetrivalForm creating forgot - password templates and adding URL.
Next I found missing favicon on website, even in deployed site - As initial step adding favicon in separate commit - Please consider that as frontend int. or can open new issue.

[2021-02-07 11:47] Kathuria commented on #51
@preeti13456 : Cleaned up styles, Please check PR's

[2021-02-07 11:55] Kathuria commented on #51
@preeti13456 : Modified Offers Template, Please check

[2021-02-07 11:57] Kathuria commented on #51
@preeti13456 : I validated most of links and its working now, not able to link rent_now and related flows - Please validate above PR's and can assign to next contributor for more updates.
Thanks.

[2021-02-07 12:01] Kathuria commented on #51
Thanks for consideration- Noticed updated Documentation for python ver. i.e. 3.7 and updated requirements.txt as well.

[2021-02-09 08:56] #51 closed, assigned to Kathuria

[2021-02-09 10:22] pritamp17 commented on #16
I can try solving this issue, could you assign this to me?

[2021-02-15 08:22] Ajaykumar34 commented on #35
can i work on this issue ?

[2021-02-15 17:37] preeti13456 commented on #35
Sure

[2021-02-23 06:46] anirudhsai20 commented on #35
Hi @preeti13456 . Can I also work on this issue under SWOC please?

[2021-02-23 19:53] preeti13456 commented on #35
Sure